In [18]:
import json
import pandas as pd
import os

df = pd.DataFrame(columns=['dt','main','wind','clouds','weather','rain','data','id'])

for d,r,files in os.walk('../open_weather/'):
    for file in files:
        with open(f'{d}{file}','r') as f:
            data = json.loads(f.read())
        c = pd.DataFrame(data['list'])
        c['id'] = file.split('.')[0]
        df = pd.concat([df,c])
df.head(10)

,dt,main,wind,clouds,weather,rain,data,id
0,1700600400,"{'temp': 28.32, 'feels_like': 29.57, 'pressure...","{'speed': 1.28, 'deg': 4, 'gust': 2.38}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,100
1,1700604000,"{'temp': 26.41, 'feels_like': 26.41, 'pressure...","{'speed': 0.66, 'deg': 354, 'gust': 0.91}",{'all': 98},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,100
2,1700607600,"{'temp': 25.14, 'feels_like': 25.49, 'pressure...","{'speed': 1.04, 'deg': 68, 'gust': 1.19}",{'all': 97},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,100
3,1700611200,"{'temp': 24.27, 'feels_like': 24.55, 'pressure...","{'speed': 1.77, 'deg': 80, 'gust': 2.86}",{'all': 97},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,100
4,1700614800,"{'temp': 23.79, 'feels_like': 24.1, 'pressure'...","{'speed': 1.79, 'deg': 99, 'gust': 2.11}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,100
5,1700618400,"{'temp': 23.31, 'feels_like': 23.63, 'pressure...","{'speed': 1.87, 'deg': 98, 'gust': 2.17}",{'all': 98},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,100
6,1700622000,"{'temp': 23.03, 'feels_like': 23.37, 'pressure...","{'speed': 1.87, 'deg': 105, 'gust': 2.77}",{'all': 96},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,100
7,1700625600,"{'temp': 22.93, 'feels_like': 23.29, 'pressure...","{'speed': 1.46, 'deg': 83, 'gust': 2.58}",{'all': 96},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,100
8,1700629200,"{'temp': 22.19, 'feels_like': 22.55, 'pressure...","{'speed': 1.64, 'deg': 58, 'gust': 1.86}",{'all': 84},"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN,NaN,100
9,1700632800,"{'temp': 21.24, 'feels_like': 21.74, 'pressure...","{'speed': 1.21, 'deg': 356, 'gust': 1.49}",{'all': 91},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN,100

In [19]:
df['data'] = pd.to_datetime(df['dt'], unit='s')
df.head(10)

,dt,main,wind,clouds,weather,rain,data,id
0,1700600400,"{'temp': 28.32, 'feels_like': 29.57, 'pressure...","{'speed': 1.28, 'deg': 4, 'gust': 2.38}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,2023-11-21 21:00:00,100
1,1700604000,"{'temp': 26.41, 'feels_like': 26.41, 'pressure...","{'speed': 0.66, 'deg': 354, 'gust': 0.91}",{'all': 98},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,2023-11-21 22:00:00,100
2,1700607600,"{'temp': 25.14, 'feels_like': 25.49, 'pressure...","{'speed': 1.04, 'deg': 68, 'gust': 1.19}",{'all': 97},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,2023-11-21 23:00:00,100
3,1700611200,"{'temp': 24.27, 'feels_like': 24.55, 'pressure...","{'speed': 1.77, 'deg': 80, 'gust': 2.86}",{'all': 97},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,2023-11-22 00:00:00,100
4,1700614800,"{'temp': 23.79, 'feels_like': 24.1, 'pressure'...","{'speed': 1.79, 'deg': 99, 'gust': 2.11}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,2023-11-22 01:00:00,100
5,1700618400,"{'temp': 23.31, 'feels_like': 23.63, 'pressure...","{'speed': 1.87, 'deg': 98, 'gust': 2.17}",{'all': 98},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,2023-11-22 02:00:00,100
6,1700622000,"{'temp': 23.03, 'feels_like': 23.37, 'pressure...","{'speed': 1.87, 'deg': 105, 'gust': 2.77}",{'all': 96},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,2023-11-22 03:00:00,100
7,1700625600,"{'temp': 22.93, 'feels_like': 23.29, 'pressure...","{'speed': 1.46, 'deg': 83, 'gust': 2.58}",{'all': 96},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,2023-11-22 04:00:00,100
8,1700629200,"{'temp': 22.19, 'feels_like': 22.55, 'pressure...","{'speed': 1.64, 'deg': 58, 'gust': 1.86}",{'all': 84},"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN,2023-11-22 05:00:00,100
9,1700632800,"{'temp': 21.24, 'feels_like': 21.74, 'pressure...","{'speed': 1.21, 'deg': 356, 'gust': 1.49}",{'all': 91},"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,2023-11-22 06:00:00,100

In [22]:
df['id'] = df['id'].astype(int)
df.dtypes

dt                 object
main               object
wind               object
clouds             object
weather            object
rain               object
data       datetime64[ns]
id                  int64
dtype: object

In [26]:
from cassandra.cluster import Cluster
import uuid
cluster = Cluster(['localhost'])
session = cluster.connect('prediction')
for i in df.iterrows():
    query = "INSERT INTO data_series (data_id, id_municipio, temp, pressure, humidity, wind_speed, clouds, data) VALUES (%s,%s, %s, %s,%s,%s,%s,%s)"
    session.execute(
        query, (
            uuid.uuid4(), 
            i[1]['id'], 
            i[1]['main']['temp'],
            i[1]['main']['pressure'],
            i[1]['main']['humidity'], 
            i[1]['wind']['speed'],
            i[1]['clouds']['all'],
            f'{i[1]["data"].strftime("%Y-%m-%d %H:%M:%S")}'))
session.shutdown()
cluster.shutdown()